# * = installed as APT packages
# ! = not compatible with Python 3.12 at the moment

# Data Analysis and Manipulation:
# *pandas
# *numpy
# *scipy

# Machine Learning:
# *scikit-learn

# Data Visualization:
# *matplotlib
# *plotly

# Image Processing:
# *pillow

# Others:
# *pytz
