# * = installed as OS packages

# Data Analysis and Manipulation:
# *pandas
# *numpy
# *scipy

# Machine Learning:
# *scikit-learn

# Data Visualization:
# *matplotlib
# *plotly

# Image Processing:
# *pillow

# Others:
# *pytz
