# Installed through OS package:
ffmpeg-python
jinja2
matplotlib
moviepy
numpy
opencv-python
pandas
pdf2image
pikepdf
pillow
pydantic
pypandoc
scipy
sympy
tabulate
xarray
xonsh

# Installed manually:
pymupdf

# Auto-install corrections:
ffmpeg # actually ffmpeg-python
fitz # part of pymupdf
